<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.4/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <title>Baza danych praw jazdy</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Baza Danych Praw Jazdy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search" th:href="@{/}">Lista wszystkich Praw Jazdy w bazie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search" th:href="@{/search}">Wyszukaj Prawo Jazdy w bazie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add" th:href="@{/add}">Dodaj Prawo Jazdy do bazy<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="post">
            <input th:name="query" class="form-control mr-sm-2" type="text" placeholder="Wyszukaj" aria-label="Wyszukaj...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Wyszukaj</button>
        </form>
    </div>
</nav>

<div class="container" style="margin-bottom: 15px; margin-top: 15px; margin-left: 15px; color: #FFFFFF">

    <div class="col-lg-8 mb-3">
    <h2>Wprowadzone Prawa Jazdy</h2>
    </div>
    <div class="container" style="margin-bottom: 15px; margin-top: 15px; color: #FFFFFF">
    <div class="row">
        <table class="col-lg-12">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Numer prawa jazdy</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Data i miejsce urodzenia</th>
                <th>Posiadane kategorie</th>
                <th>Data uzyskania</th>
                <th>Data ważności</th>
                <th>Organ wydający</th>
                <th>Adres zamieszkania</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="licence,itr : ${licences}">
                <td th:text="${itr.index + 1}"></td>
                <td th:text="${licence.getLicenceNumber()}"></td>
                <td th:text="${licence.getFirstName()}"></td>
                <td th:text="${licence.getLastName()}"></td>
                <td th:text="${licence.getPesel()}"></td>
                <td th:text="${licence.getBirthDate() + ' ' + licence.getBirthPlace()}"></td>
                <td th:text="${licence.getCategories()}"></td>
                <td th:text="${licence.getCreationDate()}"></td>
                <td th:text="${licence.getExpiryDate()}"></td>
                <td th:text="${licence.getCreationInstitution()}"></td>
                <td th:text="${licence.getStreet() + ' ' + licence.getHouseNumber() + ', ' + licence.getPostCode() +' ' + licence.getCity()}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

</body>
</html>